---
export const prerender = true;
const { eventInfo } = Astro.props;
import { format } from "date-fns";
import { boroughClassName } from "./event-card-utils";
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
  CardContent,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";

const startDate = new Date(eventInfo.start_date_time as string);
const endDate = new Date(eventInfo.end_date_time as string);
const dateMonth = format(startDate, "LLL");
const dateDay = format(startDate, "d");
const dateYear = format(startDate, "yyyy");

const startTime = format(startDate, "p");
const endTime = format(endDate, "p");
---

<Card class="event-card">
  <CardHeader class="event-date">
    <CardTitle>{`${dateMonth} ${dateDay} ${dateYear}`} </CardTitle>
    <CardDescription>{startTime} - {endTime}</CardDescription>
  </CardHeader>
  <CardContent>
    <p>{eventInfo.event_name}</p>
    <p>{eventInfo.event_location?.split(",")[0]}</p>
    <div class="flex flex-row gap2">
      <Badge>{eventInfo.event_borough}</Badge>
      <Badge>{eventInfo.event_type}</Badge>
    </div>
  </CardContent>
</Card>
